---
import "../styles/global.css";
---

<div class="flex space-x-12 mx-auto w-19/24 h-[350px] mt-32">
    <!-- BOX 1 -->
    <div class="mt-12 w-2/6 h-full space-y-6">
        <div class="flex justify-between items-center rounded-2xl h-[75px] bg-backg-light1 dark:bg-backg-dark2">
            <div class="h-6 w-56 m-6 rounded-md bg-stroke2 dark:bg-stroke1"/>
            <div class="h-8 w-28 m-6 rounded-xl bg-accent2"/>
        </div >
        <div class="flex justify-between items-center rounded-2xl h-[75px] bg-backg-light1 dark:bg-backg-dark2">
            <div class="h-6 w-64 m-6 rounded-md bg-stroke2 dark:bg-stroke1"/>
            <div class="h-8 w-20 m-6 rounded-xl bg-accent3"/>
        </div>
        <div class="flex justify-between items-center rounded-2xl h-[75px] bg-backg-light1 dark:bg-backg-dark2">
            <div class="h-6 w-48 m-6 rounded-md bg-stroke2 dark:bg-stroke1"/>
            <div class="h-8 w-36 m-6 rounded-xl bg-accent4"/>
        </div>
    </div>
    <!-- BOX 2 -->
    <div class="w-4/6 max-w-screen-lg h-full dark:bg-backg-dark2 rounded-4xl border-2 border-stroke2 dark:border-stroke1">
        <div class="p-12">
            <h2 class="font-cabin text-4xl font-bold leading-tight text-content dark:text-white">Innovation Pioneered by WebNext:<br> 
                Elevating the Digital Landscape</h2>
            <p class="font-poppins text-lg dark:text-white mt-8"> In the dynamic world of digital marketing, where innovation and adaptability are key to
                success.</p>
                <div class="text-sm mt-4">
                <p class="pill">responsiveness</p>
                <p class="pill">seo</p>
                <p class="pill">authenication</p>
                <p class="pill">ecommerce</p>
                <p class="pill">development</p>
                <p class="pill">design</p>
                <p class="pill">logo creation</p>
                <p class="pill">documentation</p>
                <p class="pill">theming</p>
                <p class="pill">graphic design</p>
                <p class="pill">branding</p>
                <p class="pill">marketing</p>
                <p class="pill">social media</p>
                <p class="pill">content creation</p>
                <p class="pill">analytics</p>
                <p class="pill">strategy</p>
            </div>
        </div>
    </div>
</div>

<!--SCROLING: SMOOTH-->
